{% extends 'layout.html' %}
{% block title %}New-tag{% endblock %}
{% block content %}
    <br><br><br>
    <table class="styled-title">
        <thead>
            <tr>
                <td>ADD TAG</td>
                <td>
                <form action="/question/{{question_id}}/new-tag" method="POST">
                <label for="add-tag"></label>
                <select name="add-tag" id="add-tag">
                {% for element in tags %}
                <option value="{{element.id}}">{{element.name}}</option>
                {% endfor %}
                <input type="submit" value="Add">
                </select>
                </form>
                </td>
                <td><button style="color: white;"><a href="/create-tag">Create tag</a></button></td>
        </thead>
    </table>
{% endblock %}