{% extends 'layout.html' %}
{% block title %}New-Comment{% endblock %}
{% block content %}
    <br><br><br>
    <div class="move-title">
        {% if not comment_id  %}
            <h2 style="color:#333;">New comment</h2>
        {%  else %}
            <h2 style="color:#333;">Edit comment</h2>
        {% endif %}
    </div>
    <div class="move-side1">
        <form {%if question_id != None and edit == false %} action="/question/{{question_id}}/new_comment" method="POST" {%elif answer_id !=None and edit== false%} action= "/answer/{{answer_id}}/new_comment" method="POST"{% else %}action="/comments/{{comment_id}}/edit" method="POST" {%endif%}>
            <label for="user-input"></label><br>
            <textarea id = 'user_input' name="message" rows="3" cols="51">{% if comment_id == None %}{{edit_form['message']}}{% endif %}</textarea><br>
            <button type="Submit" style="color:#333">Submit</button>
        </form>
    </div>
{% endblock %}