<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-AskMate</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='navbar.css') }}/>
</head>
    <body>
        <header>
            <a class="logo" href="/">ASK MATE</a>
            <nav>
                <ul class="nav__links">
                     <li><a href="test">Add new2</a></li>
                    <li><a href="/">All questions</a></li>
                    <li><a href="add-question">Add new</a></li>
                </ul>
            </nav>
        </header>
</body>
{% block content %}{% endblock %}
</html>