{% extends 'layout.html' %}
{% block title %}Question{% endblock %}
{% block link %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock %}
{% block content %}
    <br><br><br><br>
    <h1>{{question["title"]}}<br>&nbsp
     {% for tag in tags %}
         <span class="tags"><a href="/">{{ tag.name }}</a></span>
                {% if "user" in session %}
                {% if session['id'] == question['user_id'] %}
                <span id="X"><a href="/question/{{ question.id }}/tag/{{tag.id}}/delete">X</a>&nbsp</span>
                {% endif %}
                {% endif %}
     {% endfor %}
                {% if "user" in session %}
                {% if session['id'] == question['user_id'] %}
                    <span><sub><button type="button" class="btn btn-link"><a href="/question/{{question["id"]}}/new-tag" style="color:#337ab7;">add tags</a></button></sub></span>
                {% endif %}
                {% endif %}
    </h1>

    <table class="styled-table">
    <thead>
        <tr>
            <th>Description</th>
        </tr>
    </thead>
    <tbody style="border-bottom: 2px solid #36475d;">
        <tr>
            <td>{{question["message"]}}</td>
        </tr>
    </tbody>
    <tbody style="border-bottom: 1px solid #36475d;">
        <tr>
            <td>
                <a href="/question/{{question["id"]}}/vote_down"><img alt="downvote" src="/static/images/icon4.png" width="20"></a>&nbsp<a style="text-align:center;"><span class="font-right-color">{{question["vote_number"]}}</span></a>
                <a href="/question/{{question["id"]}}/vote_up"><img alt="upvote" src="/static/images/icon3.png" width="20"></a>
                {% if "user" in session %}
                {% if session['id'] == question['user_id'] %}
                <button type="button" class="btn btn-default"><a href="/question/{{question["id"]}}/edit" target="_self" rel="nofollow noopener">edit</a></button>
                <button type="button" class="btn btn-default"><a href="/question/{{question["id"]}}/delete" target="_self" rel="nofollow noopener">delete</a></button>
                {% endif %}
                <button type="button" class="btn btn-default"><a href="/question/{{question["id"]}}/new_comment" target="_self" rel="nofollow noopener">comment</a></button>
                {% endif %}
                <i><a style="font-size:small;color:#333;">&nbsp&nbsp<span>{{question["submission_time"]}}</span></a></i>
            </td>
        </tr>
    </tbody>
    </table>
    {% if question["image"] != None%}
        <img id="myImg" src="../static/{{ question["image"] }}" width="350"/>
        <div id="myModal" class="modal">
            <span class="close">&times;</span>
            <img class="modal-content" id="img01">
            <div id="caption"></div>
        </div>
        <script>
            var modal = document.getElementById('myModal');
            var img = document.getElementById('myImg');
            var modalImg = document.getElementById("img01");
            var captionText = document.getElementById("caption");
            img.onclick = function(){
                modal.style.display = "block";
                modalImg.src = this.src;
                captionText.innerHTML = this.alt;
            }
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
            }
        </script>
    {% endif %}
    {% set display_com_question={'display': False} %}
    {% for element in comments %}
        {% if element.question_id == question["id"]%} {% if display_com_question.update({'display': True}) %}{% endif %}{% endif %}
    {% endfor %}
    {% if display_com_question.display %}
    <div class="comments">
            <table class="comments">
                <tr>
                    <td class="comments"><h3 style="color: #333;">Comments:</h3></td>
                </tr>
    {% for element in comments %}
        {% if element.question_id == question["id"] %}
                <tr>
                    <td class="comments">{{element.message}}<br><button type="button" class="btn btn-link">{{ element.email }}</button>
                        {% if session['id'] == element.user_id %}
                    <button type="button" class="btn btn-link">edit</button><button type="button" class="btn btn-link">delete</button>
                        {% endif %}
                    </td>
                </tr>
        {% endif %}
    {% endfor %}
            </table>
    </div>
    {% endif %}
    <hr class="style1">
    <br>
    {% if "user" in session %}
    <button type="button" class="btn btn-default"><a href='/question/{{question['id']}}/new-answer' target="_self" rel="nofollow noopener">New Answer</a></button>
    {% endif %}
    {% for answer in answers %}
        <table class="styled-table">
        <thead>
            <tr>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody style="border-bottom: 2px solid #36475d;">
            <tr>
                <td>{{answer["message"]}}</td>
            </tr>
        </tbody>
        <tbody style="border-bottom: 1px solid #36475d;">
            <tr>
                <td>
                    <a href="/answers/{{answer["id"]}}/vote_down"><img alt="downvote" src="/static/images/icon4.png" width="20"></a>&nbsp<a style="text-align:center;"><span class="font-right-color">{{answer["vote_number"]}}</span></a>
                    <a href="/answers/{{answer["id"]}}/vote_up"><img alt="upvote" src="/static/images/icon3.png" width="20"></a>
                    {% if session['id'] == answer.user_id %}
                    <a class="button" href="/answer/{{answer["id"]}}/edit" style="background-color:#234c50;" target="_self" rel="nofollow noopener">edit
                    </a>
                    <a class="button" href="/answer/{{answer["id"]}}/delete" style="background-color:#234c50;" target="_self" rel="nofollow noopener">delete
                    </a>
                    <span align="center" style="background-color:#333; font-size: small;">
                     <a class="button" href="/answer/{{answer["id"]}}//new_comment" style="background-color:#234c50;" target="_self" rel="nofollow noopener">comment
                    </a></span>
                    {% endif %}
                    <i><a style="font-size:small;color:#333;">&nbsp&nbsp<span>{{(answer["submission_time"])}}</span></a></i>
                </td>
            </tr>
        </tbody>
        </table>
        {% if answer["image"] != None%}
            <img id="myImg1" src="../static/{{ answer["image"] }}" width="350"/>
            <div id="myModal1" class="modal1">
            <span class="close1">&times;</span>
            <img class="modal-content1" id="img011">
            <div id="caption1"></div>
            </div>
            <script>
                var modal = document.getElementById('myModal1');
                var img = document.getElementById('myImg1');
                var modalImg = document.getElementById("img011");
                var captionText = document.getElementById("caption1");
                img.onclick = function(){
                    modal.style.display = "block";
                    modalImg.src = this.src;
                    captionText.innerHTML = this.alt;
                }
                var span = document.getElementsByClassName("close1")[0];
                span.onclick = function() {
                 modal.style.display = "none";
                }
            </script>
        {% endif %}
        {% set display_com_answers={'display': False} %}
        {% for element in comments %}
        {% if element.answer_id == answer["id"]%} {% if display_com_answers.update({'display': True}) %}{% endif %}{% endif %}
        {% endfor %}
        {% if display_com_answers.display %}
        <div class="comments">
            <table class="comments">
                <tr>
                    <td class="comments" >Comments:</td>
                </tr>
        {% for element in comments %}
            {% if element.answer_id == answer["id"] %}
                <tr>
                    <td class="comments">{{element.message}}<button type="button" class="btn btn-link">{{ element.email }}</button>
                        {% if session['id'] == element.user_id %}
                        <button type="button" class="btn btn-link">edit</button><button type="button" class="btn btn-link">delete</button>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
            </table>
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}