{% extends 'layout.html' %}
{% block title %}Users :{% endblock %}
{% block link %} <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='main_page.css') }}/> {% endblock %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
     <br><br><br>
     <style> td, th { border: 1px solid black; } </style>
        {% for element in users_form %}
            <table>
   <thead>
      <tr> <th> Email <th> registration_date <th> reputation
   <tbody>
      <tr> <th> {{ element.email }}<td>{{ element.registration_date }} <td> {{ element.reputation }}
</table>
            <br>
        {% endfor %}

</body>
</html>

{% endblock %}