{% extends 'layout.html' %}
{% block title %}Users{% endblock %}
{% block link %}<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='user_page.css') }}/> {% endblock %}
{% block content %}
     <br><br><br>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>USERNAME</th>
            <th>REGISTRATION</th>
            <th>REPUTATION</th>
            <th>QUESTIONS</th>
            <th>ANSWERS</th>
            <th>COMMENTS</th>
        </tr>
        </thead>
        <tbody>
        {% for element in users_form %}
        <tr>
            <td><button type="button" class="btn btn-link"><a href="/user/{{element.id}}">{{element.email}}</a></button></td>
            <td>{{element.registration_date}}</td>
            <td>{{element.reputation}}</td>
            <td>{{element.num_of_questions[0]['question']}}</td>
            <td>{{element.num_of_answers[0]['answer']}}</td>
            <td>{{element.num_of_comments[0]['comment']}}</td>
        </tr>
        {% endfor %}
        <tbody>
    </table>
</div>
{% endblock %}