{%  extends 'layout.html' %}
{% block title %}users-page{% endblock %}
{% block link %}<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='user_page.css') }}/> {% endblock %}
{% block content %}
    <br><br><br>
    <div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>PROFILE PAGE</th>
            <th></th>
        </tr>
        </thead>
        <tr>
        <tr>
            {% for element in user %}
            <td>USERNAME</td>
            <td>{{element.email}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for element in user %}
            <td>REGISTRATION</td>
            <td>{{element.registration_date}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for element in num_questions %}
            <td>QUESTIONS</td>
            <td>{{element.question}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for element in num_answers %}
            <td>ANSWERS</td>
            <td>{{element.answer}}</td>
             {% endfor %}
        </tr>
        <tr>
            {% for element in num_comments %}
            <td>COMMENTS</td>
            <td>{{element.comment}}</td>
            {% endfor %}
        </tr>
        <tr>
            {% for element in user %}
            <td>REPUTATION</td>
            <td>{{element.reputation}}</td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    {% if questions %}
{#       tu warunek #}
        <thead>
        <tr>
            <th>QUESTION</th>
            <th>QUESTION POSTED</th>
        </tr>
        </thead>
        <tr>
        {%for element in questions%}
        <tr>
            <td><button type="button" class="btn btn-link"><a href="/question/{{element.id}}">link</a></button></td>
            <td>{{element.title}}</td>
        </tr>

        {% endfor %}
        <tr>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
{#    #tu koniec warunku#}
{#    #tu warunek#}
    {% if answers %}
        <thead>
        <tr>
            <th>QUESTION</th>
            <th>ANSWERS POSTED</th>
        </tr>
        </thead>
        <tr>
        {%for element in answers%}
        <tr>
            <td><button type="button" class="btn btn-link"><a href="/question/{{element.question_id}}">link</a></button></td>
            <td>{{element.message}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
        </tr>
    {% endif %}
{#    #tu koniec warunku#}
{#    #tu warunek#}
    {% if comments %}
        <thead>
        <tr>
            <th>QUESTION</th>
            <th>COMMENTS POSTED</th>
        </tr>
        </thead>
        <tr>
        {%for element in comments%}
        <tr>
            <td><button type="button" class="btn btn-link"><a href="/question/{{element.question_id}}">link</a></button></td>
            <td>{{element.message}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
        </tr>
{#    #tu koniec warunku#}
    {% endif %}
    </table>
    </div>
{% endblock %}